  form {
  padding-bottom: 1vh;
  padding-top: 5vh;

  input {
    margin-top: 3vh;
  }

  button.comment-submit {
    margin-bottom: 4vh;
  }

  .input-field-type {
    margin-top: 4vh;

  }

  span.warning {
    padding-left: 1rem;
  }

  textarea#textarea {
    padding: 0.8rem 0 0.6rem 0;
  }

}

.buttonContainer {
  text-align: center;
}

.comment-post {
  border-left-style: solid;
  border-color: #d64b1f;
  padding: 1vh 0 1vh 0;
  margin-bottom: 4vh;

  p, h4 {
    margin-left: 2vh;
    white-space: pre-wrap;
  }

  div h4 {
    margin-bottom: 0px;
  }

  div.dateContainer {
    text-align: right;
    padding-right: 1rem;
  }

  @media only screen and (max-width: 600px) {
    div.dateContainer {
      text-align: left;
      padding-left: 2rem;
    }
  }
}
