form {
  padding-bottom: 1vh;
  padding-top: 5vh;

  input {
    margin-top: 3vh;
  }

  button.comment-submit {
    margin-bottom: 4vh;
  }

  .input-field-type {
    margin-top: 4vh;
    margin-bottom: 6vh;
  }

  textarea#textarea {
    padding: 0.8rem 0 0.6rem 0;
  }

}

.comment-post {
  border-left-style: solid;
  border-color: #d64b1f;
  padding: 1vh 0 1vh 0;
  margin-bottom: 4vh;

  p, h6 {
    margin-left: 2vh;
  }
}
