#LandingPage {
  padding: 0px;

  div.coverImageContainer {
    background-image:
      linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
      url('../assets/Landing_Img.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: conver;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 61.64%;

    div.center-text-content {
      text-align: center;
      color: #d64b1f;

      p {
        font-family: Roboto-Bold;
        color: #ffffff;
        font-weight: bold;
        margin-top: -40%;
        font-size: 4em;
      }
    }
  }

  div.section {

    .main-title {
      text-align: center;
      background: black;
      color: #ffffff;

      &:hover {
        -webkit-transform: scale(0.98);
        -moz-transform: scale(0.98);
        -o-transform: scale(0.98);
      }
    }

    .summarize-text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
