@import "LandingPage";
@import "NavBar";
@import "Footer";
@import "Comment_Form";
@import "Detail_Blog";

html {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2;
}

main {
  flex: 1 0 auto;
}

@media only screen and (max-width: 600px) {
    body #App {
    	width: 100%;
    }
}
